.btn {
    padding: 12px 16px;
    border: 1.5px solid #5558fa;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    &:disabled {
        background-color: lighten(#5558fa, 10%) !important;
        border: 1.5px solid lighten(#5558fa, 10%);
        cursor: default;
    }
}
