.block {
    padding: 62px 110px 80px 110px;
    background-color: white;
    margin-top: 24px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    @media (max-width: 750px) {
        padding: 62px 30px 80px 30px;
    }
}
